.editor-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  pointer-events: none;
  font-size: 16px;
}

.editor-heading {
  text-transform: uppercase;
  font-size: 20px;
}

.editor-nameInput {
  pointer-events: all;
}

.editor-buttonGroup {
  display: flex;
  gap: 10px;  
}

.editor-all-button {
  background-image: url('textures/block_label_all.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-edges-and-corners-button {
  background-image: url('textures/block_label_edges_and_corners.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-self-and-edges-button {
  background-image: url('textures/block_label_self_and_edges.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-edges-button {
  background-image: url('textures/block_label_edges.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-self-and-corners-button {
  background-image: url('textures/block_label_self_and_corners.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-corners-button {
  background-image: url('textures/block_label_corners.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-none-button {
  background: black;
}

.editor-instructions {
  padding: 10px;
  border: 2px dashed rgba(var(--dark-color), 0.6);
  border-radius: 10px;
  margin-top: 20px;
}