.editor-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  pointer-events: none;
  font-size: 16px;
}

.editor-subHeading {
  padding: unset;
}

.editor-nameInput {
  pointer-events: all;
  width: 16ch;
  margin-top: 20px;
  padding: 10px;
  cursor: url('/cursors/bracket_a_vertical.png'), auto;  
}

.editor-editModeLabel {
  padding-top: 18px;
  font-size: 16px;
  line-height: 16px;
  margin-right: -5px;
}

.editor-buttonGroup {
  display: flex;
  gap: 10px;  
}

.editor-buttonGroup-divider {
  border-left: 2px solid rgba(var(--dark-color), 0.6);
  height: 55px;
  margin-inline: 10px;
}

.editor-all-button {
  background-image: url('textures/block_label_all.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-edges-and-corners-button {
  background-image: url('textures/block_label_edges_and_corners.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-self-and-edges-button {
  background-image: url('textures/block_label_self_and_edges.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-edges-button {
  background-image: url('textures/block_label_edges.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-self-and-corners-button {
  background-image: url('textures/block_label_self_and_corners.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-corners-button {
  background-image: url('textures/block_label_corners.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.editor-none-button {
  background: black;
}

.editor-instructions {
  padding: 10px;
  border: 2px dashed rgba(var(--dark-color), 0.6);
  border-radius: 10px;
}

.editor-modal-delete {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--dark-color), 0.2);
	z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 0;
  padding: 20px;
  margin-bottom: 20px;
  min-width: 250px;
  border: 2px solid rgba(var(--dark-color), 0.6);
  left: 50%;
  z-index: 1000;
  background: var(--background-colour);
  transform: translateX(-50%) translateY(240px);
  transition: transform 200ms;
}

.editor-modal.show {
  transform: translateX(-50%) translateY(0);
}

.editor-modal-delete .editor-modal {
  position: relative;
  left: unset;
  transform: unset;
  opacity: 0;
  transition: opacity 200ms;
}
.editor-modal-delete .editor-modal.show {
  transform: unset;
  opacity: 1;
}

.editor-modal-header {
  padding-bottom: 10px;
}

.editor-modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  color: rgba(var(--dark-color), 0.6);
  pointer-events: all;
  cursor: url('/cursors/hand_point.png'), auto;
}

.button-dark.editor-button-delete {
  background: var(--danger-color);
  color: rgba(var(--light-color), 1.0);
}

.unsaved-badge {
  position: absolute;
  top: -5px;
  right: -20px;
  width: 15px;
  aspect-ratio: 1;
  background: var(--danger-color);
  border-radius: 50%;
}