:root {
	--main-text-colour: rgb(250, 250, 250);
	--link-colour: #a8ffed;
	--background-colour: #1f3d6a;
  --dark-color: 250, 250, 250;
  --light-color: 250, 250, 250;
	--selected-colour: 255, 255, 0;
	--danger-color: #be424c;
	--gold-color: 228, 236, 81;
	--silver-color: 192, 192, 192;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf');
}

html,
body,
#root
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-colour);
	overflow: hidden;
	cursor: url('/cursors/pointer_a.png'), auto;
}

body {
	/* Disable text selection */
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

* {
	box-sizing: border-box;
}

body, input {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
	font-size: 22px;
	line-height: 28px;
	color: var(--main-text-colour);
}

a,
a:visited {
	color: var(--link-colour);
}

a:hover {
	text-decoration: underline;
}

/* Leva */
:root {
	--leva-sizes-rootWidth: 500px !important;
	--leva-sizes-controlWidth: 240px !important;
}

.cursor-pointer {
	cursor: url('/cursors/pointer_a.png'), grab;
}

.cursor-grab {
	cursor: url('/cursors/hand_open.png'), grab;
}

.cursor-click {
	cursor: url('/cursors/hand_point.png'), pointer;
}

.cursor-grabbing {
	cursor: url('/cursors/hand_closed.png'), grabbing;
}

