.levelStats {
  display: flex;
  align-items: center;
  gap: 5px;
}

.levelStats-completedBestPercentage {
  font-size: 14px;
  color: rgba(var(--gold-color), 1.0);
}
.levelStats-completedBestPercentage.zero {
  color: rgba(var(--dark-color), 0.1);
}

.levelStats-pieChart {
  --slice-1: 10%;
  --slice-2: 15%;
  --slice-3: 75%;

  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(
    /* Slice 1 */
    rgba(var(--gold-color), 1.0) 0% var(--slice-1),
    
    /* Slice 2: Starts where slice 1 ends, ends at slice 1 + slice 2 */
    rgba(var(--silver-color), 1.0) var(--slice-1) calc(var(--slice-1) + var(--slice-2)),
    
    /* Slice 3: Starts where slice 2 ends, ends at slice 1 + slice 2 + slice 3 */
    rgba(var(--dark-color), 0.1) calc(var(--slice-1) + var(--slice-2)) calc(var(--slice-1) + var(--slice-2) + var(--slice-3))
  );  
}
